h1 {
  text-align: center;
}

.lightbulb {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  background-color: white;
}
button {
  padding: 4px 30px;
  background-color: yellow;
  border-radius: 4px;
  font-size: 22px;
  margin-top: 30px
}