h1 {
  text-align: center;
}

.lightbulb {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  background-color: white;
}
button {
  height: 100px;
  width: 100px;
  background-color: blue;
  border-radius: 50px;
  font-size: 22px;
  margin-top: 30px
}
